@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    /* font-size: 0.8rem; */
}
html {
    background-color: #ebeff3;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#form-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color:#ebeff3;
    border-radius: 10px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22); */
}

#forms {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.form-title {
    margin: 2px 0;
    text-align: center;
    /* font-size: 1.2rem; */
}
.form-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-option {
    color: #333;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
}
.form-option > i {
    position: relative;
    top: 50%;
    left: 50%;
    /* transform: scale(0.7) translate(-80%, -80%); */
    transform: translate(-50%, -50%);
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input > input {
    display: block;
    width: 50%;
    height: 30px;
    margin: 3px 0;
    background-color: #ffffff;
    padding: 3px 5px;
    border-color: #69c986;
    border-radius: 8px;
}
.form-input > h5{
    font-size: 1.0rem;
    font-weight: 300;
    margin: 7px 0 0 0;
}
.forgot-password {
    color: #0f0f0f;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
}

.form-button {
    background-color: #69c986;
    color: #eee;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 7px;
}


#overlay-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    z-index: 100;
    transition: transform 0.6s ease-in-out;
}

.panel-2-active #overlay-container {
    transform: translateY(-100%);
}

#overlay {
    color: #fff;
    background: -webkit-linear-gradient(to bottom, #69c986, #1e863d);
    background: linear-gradient(to bottom, #69c986,  #1e863d);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    width: 100%;
    height: 200%;
    top: -100%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.panel-2-active #overlay {
    transform: translateY(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    left: 0;
    width: 100%;
    height: 50%;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-1 {
    transform: translateY(-20%);
}
.panel-2-active .overlay-1 {
    transform: translateY(0);
}
.overlay-2 {
    bottom: 0;
    transform: translateY(0);
}
.panel-2-active .overlay-2 {
    transform: translateY(20%);
}

.overlay-btn {
    background-color: transparent;
    color: #eee;
    padding: 10px 30px;
    border: 1px solid #eee;;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 7px;
    text-transform: uppercase;
}

#source {
  position: absolute;
  left: 0;
  bottom: 0;
  color: blue;
  z-index: 1000;
}